
.loading {
  top: -2rem;
  opacity: 0;
}

.signinButton:hover {
  background-color: #ff008d;
  border-color: #ff008d;
  color: #fff;
}

.signoutButton {
  background-color: #fff;
  border-color: #bbb;
  color: #555;
}

.signoutButton:hover {
  background-color: #fff;
  border-color: #aaa;
  color: #333;
}
